<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cykj.cityline.mapper.AddSiteRecordMapper">
    <insert id="insAddSiteRecord" parameterType="addSiteRecord">
		insert into tb_add_site_record(content,city_id) values(#{content},#{cityId})
	</insert>

</mapper>