<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cykj.cityline.mapper.CitySiteMapper">

    <select id="findCitySiteByPage" resultType="citySiteChild">
            SELECT
            cs.id id,
            cs. NAME NAME,
            cs.x_position xPosition,
            y_position yPosition,
            GROUP_CONCAT(DISTINCT l. NAME) throughLine
        FROM
            tb_areas a
        INNER JOIN tb_city_site cs ON a.id = cs.city_id and a.state_id=1
        LEFT JOIN tb_line_site ls ON  ls.site_id = cs.id
        LEFT JOIN tb_line l ON a.id = l.city_id and ls.line_id = l.id
        <where>
            <if test="cityId!=null">
               and a.id = #{cityId}
            </if>
            <if test="name!=null and name!=''">
                and cs.name like concat('%',#{name},'%')
            </if>
        </where>
        GROUP BY
            cs.id
            </select>

    <insert id="insCitySite" parameterType="citySite">
		INSERT INTO tb_city_site(name,city_id,x_position,y_position)
        VALUES(#{name},#{cityId},#{xPosition},#{yPosition})
    </insert>
    <select id="findCitySiteByCityId" resultType="citySite" parameterType="citySite">
		SELECT
            id id,
            NAME NAME,
            x_position xPosition,
            y_position yPosition
        FROM
            tb_city_site
        <where>
            <if test="cityId!=null">
                and city_id = #{cityId}
            </if>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
        </where>
	</select>
    <update id="updCitySiteByCityId" parameterType="citySite">
        update tb_city_site
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="xPosition != null and xPosition != ''">
                x_position =#{xPosition},
            </if>
            <if test="yPosition != null and yPosition != ''">
                y_position =#{yPosition},
            </if>
            <if test="stateId != null and stateId != ''">
                state_id =#{stateId},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findCitySiteByCityIdLikeName" parameterType="citySite" resultType="citySiteChild">
        SELECT
        id id,
        NAME NAME,
        x_position xPosition,
        y_position yPosition
        FROM
        tb_city_site
        <where>
            <if test="cityId!=null">
                and city_id = #{cityId}
            </if>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
<!--    <select id="findCitySiteAllByCityId" parameterType="citySite" resultType="citySite" >-->
<!--        select id id,name name,x_position xPosition,y_position yPosition from tb_city_site where city_id=#{cityId}-->
<!--    </select>-->
</mapper>