<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cykj.cityline.mapper.LineMapper">

    <select id="findLinePage" resultType="lineChild">
               SELECT
            l.id id,
            l.name name,
            l.one_money oneMoney,
            l.travel_money travelMoney,
            l.start_time startTime,
            l.return_time returnTime,
        IF (
            (
                SELECT
                    count(*)
                FROM
                    tb_line_site ls2
                WHERE
                    ls2.line_id = l.id
                AND ls2.property_id = 1
            ) >= (
                SELECT
                    count(*)
                FROM
                    tb_line_site ls2
                WHERE
                    ls2.line_id = l.id
                AND ls2.property_id = 2
            ),
            (
                SELECT
                    count(*)
                FROM
                    tb_line_site ls2
                WHERE
                    ls2.line_id = l.id
                AND ls2.property_id = 1
            ),
            (
                SELECT
                    count(*)
                FROM
                    tb_line_site ls2
                WHERE
                    ls2.line_id = l.id
                AND ls2.property_id = 2
            )
        ) siteNum,
        p.value+l.return_time+l.start_time+p.value allTime,
        (select count(distinct bus_id) from tb_bus_work where line_id=l.id) useVehiclesNum
        FROM
            tb_areas a
        INNER JOIN tb_line l ON l.city_id = a.id
        LEFT JOIN tb_city_site cs ON cs.city_id = l.city_id
        LEFT JOIN tb_line_site ls ON ls.line_id = l.id
        left join tb_param p on p.type_english = 'arriveSiteRest'
        <where>
            <if test="cityId!=null">
                and a.id = #{cityId}
            </if>
            <if test="name!=null and name!=''">
                and l.name like concat('%',#{name},'%')
            </if>
        </where>
        GROUP BY
            l.id
    </select>

    <insert id="insLine" parameterType="lineChild" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tb_line(name,city_id,one_money,start_time,travel_money,return_time)
        VALUES(#{name},#{cityId},#{oneMoney},#{startTime},#{travelMoney},#{returnTime})
    </insert>
    <delete id="delLineById">
        delete from tb_line where id=#{id}
    </delete>
    <select id="findLineByCityId" resultType="line" parameterType="line">
		SELECT
            id id,
            NAME NAME
        FROM
            tb_line
        WHERE
            city_id = #{cityId}
        AND
            name=#{name}
	</select>
    <update id="updLineByLineId" parameterType="line">
        update tb_line
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="oneMoney != null and oneMoney != ''">
                one_money =#{oneMoney},
            </if>
            <if test="travelMoney != null and travelMoney != ''">
                travel_money =#{travelMoney},
            </if>
            <if test="startTime != null and startTime != ''">
                start_time =#{startTime},
            </if>
            <if test="returnTime != null and returnTime != ''">
                return_time =#{returnTime},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>