<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cykj.cityline.mapper.LineSiteMapper">

    <insert id="insLineSite" parameterType="lineChild" >
		INSERT INTO tb_line_site (line_id,site_id,start_index,property_id,back_index)
        VALUES(#{lineId},#{siteId},#{startIndex},#{propertyId},#{backIndex})
    </insert>
    <delete id="delLineSiteByLineId" >
        delete from tb_line_site where line_id=#{lineId}
    </delete>
<!--    findLineSiteByLineId-->
    <select id="findLineSiteStartByLineId" resultType="citySiteArr" parameterType="lineChild">
		SELECT
            cs.name name,cs.id title,cs.x_position xPosition,cs.y_position yPosition
        FROM
            tb_city_site cs
        INNER JOIN tb_line_site ls ON ls.site_id = cs.id and ls.property_id=1

        WHERE
            ls.line_id = #{lineId} order by ls.start_index asc;

	</select>
    <select id="findLineSiteBackByLineId" resultType="citySiteArr" parameterType="lineChild">
		SELECT
            cs.name name,cs.id title,cs.x_position xPosition,cs.y_position yPosition
        FROM
            tb_city_site cs
        INNER JOIN tb_line_site ls ON ls.site_id = cs.id and ls.property_id=2

        WHERE
            ls.line_id = #{lineId} order by ls.back_index asc;

	</select>

<!--    <update id="updCitySiteByCityId" parameterType="citySite">-->
<!--        update tb_city_site-->
<!--        <set>-->
<!--            <if test="name != null and name != ''">-->
<!--                name=#{name},-->
<!--            </if>-->
<!--            <if test="xPosition != null and xPosition != ''">-->
<!--                x_position =#{xPosition},-->
<!--            </if>-->
<!--            <if test="yPosition != null and yPosition != ''">-->
<!--                y_position =#{yPosition},-->
<!--            </if>-->
<!--        </set>-->
<!--        where id=#{id}-->
<!--    </update>-->
</mapper>