/smart_bus_platform_admin/target/
/smart_bus_platform_city_line/target/
/smart_bus_platform_common/target/
/smart_bus_platform_eureka_server/target/
/smart_bus_platform_pojo/target/
/smart_bus_platform_redis/target/
/smart_bus_platform_user/target/
/smart_bus_platform_user_app/target/
/smart_bus_platform_zuul/target/
